@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
 

<div class="col-lg-8 col-xl-9 d-flex align-items-center justify-content-center">
    <div class="row justify-content-center w-100 mt-4 mt-lg-0">
        <div class="col-lg-6 col-xl-3 col-md-7">
            <div class="card">
                <div style="display: flex;align-items: center;justify-content: center; padding: 20px;">
                    Please approve the request 2FA from your mobile device. 
                </div>
            </div>
        </div>
    </div>
</div>


<script>

startConfirmCheck();
function  startConfirmCheck()
{
    setTimeout(() => {
      attemptConfirm()
    }, 1000)

}

function attemptConfirm()
{
    $.ajax({
        method: "GET",
        contentType: "application/json",
        url: "/Home/CheckConfirmed",
    }).done(async function (session) {
        if (session)
            window.location.href = "/home/account";
        else 
            startConfirmCheck();
    });
}
</script>